:root {
  --purple: #221D5A;
  --light-purple: #5A53AF;
  --green: #A1E0A7;
  --red: #FF8E8E;
  --white: #FFFFFF;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  display: grid;
  place-items: center;
  height: 100vh;

  color: var(--white);
  font-family: 'Ubuntu', monospace;

  background-color: var(--purple);
}

a {
  color: var(--light-purple);
  text-decoration: none;
}

button {
  font-family: 'Ubuntu', monospace;
}

.grid {
  display: grid;
}
.flex {
  display: flex;
}
.link:hover {
  text-decoration: underline;
}